.background-colored {
  background-color: azure;
  background-image: url('../img/grey-covers/home-cover.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 700px !important;
}

.carousel img {
  filter: saturate(0.3)
}

.header-image .page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  min-width: 100%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, .5);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading-text.heading-section>h2:before {
  background-color: #a1a1a3;
}

.prop-lab .post-item-description p {
  height: 150px;
}

.mapouter, .gmap_canvas, .gmap_canvas_lagos_office {
  height: 350px;
  width: 270px;
}

.mapouter {
  position: relative;
  text-align: right;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
}

@media(min-width: 375px) {
  .mapouter, .gmap_canvas, .gmap_canvas_lagos_office {
    height: 350px;
    width: 320px;
  }
}

@media(min-width: 425px) {
  .mapouter, .gmap_canvas, .gmap_canvas_lagos_office {
    height: 350px;
    width: 350px;
  }
}

@media(min-width: 1024px) {
  .mapouter, .gmap_canvas, .gmap_canvas_lagos_office {
    height: 350px;
    width: 450px;
  }
}

@media(min-width: 1024px) {
  .mapouter, .gmap_canvas, .gmap_canvas_lagos_office {
    height: 350px;
    width: 550px;
  }
}

.post-image {
  height: 280px;
  background-size: cover;
}